<a href="https://colab.research.google.com/github/emersondivB0/PyProjects/blob/main/DataScience/10_Counters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
s = pd.Series(list('asfsfdfvdsbsffgbfgfsdgb'))
s

0     a
1     s
2     f
3     s
4     f
5     d
6     f
7     v
8     d
9     s
10    b
11    s
12    f
13    f
14    g
15    b
16    f
17    g
18    f
19    s
20    d
21    g
22    b
dtype: object

In [3]:
s.unique()
# me trae los valores únicos

array(['a', 's', 'f', 'd', 'v', 'b', 'g'], dtype=object)

In [4]:
# cuenta cada elemento de una Series
s.value_counts()

f    7
s    5
d    3
b    3
g    3
a    1
v    1
dtype: int64

In [5]:
datos = pd.read_csv('alquiler.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [6]:
datos.Tipo.unique()

array(['Habitación', 'Casa', 'Local comercial', 'Departamento',
       'Casa en condominio', 'Edificio completo', 'Flat', 'Tienda/Salón',
       'Almacén', 'Casa comercial', 'Casa de villa', 'Terreno', 'Cochera',
       'Loft', 'Tienda en Centro Comercial', 'Chacra',
       'Terreno em condominio', 'Oficina', 'Chalet', 'Studio', 'Hotel',
       'Local industrial'], dtype=object)

In [8]:
#Use de values of the columns as methods.
datos.Tipo.value_counts()

Departamento                  19532
Local comercial                6815
Tienda/Salón                   1426
Casa en condominio              996
Casa                            967
Habitación                      836
Almacén                         623
Flat                            476
Edificio completo               301
Casa comercial                  265
Casa de villa                   249
Tienda en Centro Comercial      247
Cochera                          82
Terreno                          70
Loft                             51
Oficina                          10
Terreno em condominio             5
Studio                            4
Hotel                             2
Chacra                            1
Chalet                            1
Local industrial                  1
Name: Tipo, dtype: int64