<a href="https://colab.research.google.com/github/emersondivB0/PyProjects/blob/main/DataScience/11_Creating_clusters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler_residencial.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0,42.50,Departamento
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN,70.00,Casa
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0,34.67,Departamento
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0,53.33,Departamento
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN,16.67,Departamento
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN,17.14,Departamento
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN,29.33,Casa
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN,15.38,Casa
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0,50.36,Departamento

In [3]:
# calculate the mean of 'Valor'
datos['Valor'].mean()

12952.659715265761

In [4]:
# calculate the mean of several columns
barrios = ['Ate', 'Barranco', 'Comas', 'Lince', 'El Agustino', 'San Luis', 'Callao']
selection = datos['Distrito'].isin(barrios)
datos = datos[selection]

In [5]:
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto,Valor m2,Tipo Agrupado
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0,34.67,Departamento
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN,16.67,Departamento
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN,17.14,Departamento
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0,26.00,Departamento
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN,29.33,Casa
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN,15.38,Casa
18,Casa en condominio,San Luis,3,1,1,115,2000.0,NaN,NaN,17.39,Casa
19,Departamento,Callao,3,0,0,54,950.0,300.0,28.0,17.59,Departamento
20,Departamento,Ate,2,1,1,67,1700.0,589.0,147.0,25.37,Departamento
22,Casa en condominio,Ate,4,3,2,466,7500.0,2695.0,NaN,16.09,Casa

In [6]:
datos['Distrito'].drop_duplicates()

2             Ate
5        Barranco
6           Comas
8     El Agustino
18       San Luis
19         Callao
29          Lince
Name: Distrito, dtype: object

In [7]:
group_barrio = datos.groupby('Distrito')

In [8]:
type(group_barrio)

pandas.core.groupby.generic.DataFrameGroupBy

In [9]:
group_barrio.groups

{'Ate': [2, 4, 7, 20, 22, 30, 35, 41, 44, 49, 59, 60, 76, 78, 81, 89, 90, 91, 93, 97, 103, 104, 111, 112, 115, 117, 134, 146, 155, 156, 157, 158, 159, 163, 165, 168, 172, 176, 179, 192, 194, 197, 199, 203, 225, 228, 230, 247, 248, 251, 255, 260, 261, 274, 277, 281, 306, 315, 325, 330, 332, 340, 347, 348, 354, 358, 364, 365, 368, 374, 387, 390, 399, 401, 408, 416, 419, 434, 440, 441, 442, 444, 452, 455, 456, 465, 470, 471, 493, 499, 505, 509, 512, 513, 522, 530, 544, 546, 554, 558, ...], 'Barranco': [5, 259, 1534, 1715, 2519, 2619, 3006, 3139, 3305, 3565, 3986, 4012, 4159, 4543, 4881, 4966, 5397, 5637, 6524, 7235, 7291, 7648, 8034, 8389, 8410, 9260, 9363, 9530, 9892, 11314, 11852, 12408, 13832, 14504, 14567, 14832, 15010, 15398, 16465, 16530, 16804, 17279, 17455, 17707, 17823, 18459, 18554, 18579, 19016, 19374, 19521, 20314, 20453, 20827, 21488, 21593, 21658, 22426, 22791, 23421, 23470, 23874, 24262, 24696, 25103, 25312, 25352, 25854, 25868, 26030, 26658, 26905, 27456, 28332, 28399, 28460, 29507, 30138, 30180, 30781, 30953, 31509, 31564, 31620, 31649, 31650, 32224, 32288, 32441, 32525], 'Callao': [19, 85, 119, 145, 154, 169, 187, 202, 231, 245, 280, 301, 327, 413, 461, 463, 510, 523, 539, 555, 560, 576, 593, 675, 714, 731, 796, 854, 912, 1030, 1040, 1056, 1172, 1177, 1227, 1248, 1294, 1326, 1392, 1454, 1633, 1639, 1808, 1936, 2020, 2027, 2173, 2260, 2296, 2303, 2333, 2358, 2551, 2593, 2620, 2644, 2656, 2674, 2679, 2746, 2769, 2848, 2892, 2916, 2930, 3105, 3106, 3107, 3147, 3176, 3277, 3331, 3372, 3413, 3420, 3427, 3473, 3494, 3524, 3531, 3575, 3772, 3785, 3839, 3872, 3890, 3892, 3963, 3997, 4047, 4125, 4130, 4160, 4206, 4312, 4420, 4433, 4474, 4487, 4524, ...], 'Comas': [6, 27, 55, 56, 63, 71, 73, 77, 102, 121, 133, 149, 170, 184, 195, 212, 235, 266, 268, 317, 320, 342, 362, 366, 369, 377, 409, 430, 459, 481, 495, 508, 515, 518, 561, 570, 580, 587, 591, 594, 600, 609, 662, 710, 717, 728, 729, 769, 780, 783, 800, 843, 846, 861, 864, 867, 869, 870, 889, 891, 921, 923, 938, 942, 943, 977, 978, 994, 1010, 1017, 1031, 1042, 1058, 1067, 1071, 1081, 1088, 1094, 1099, 1102, 1106, 1126, 1127, 1134, 1139, 1169, 1173, 1194, 1209, 1212, 1220, 1223, 1224, 1231, 1251, 1290, 1291, 1313, 1330, 1347, ...], 'El Agustino': [8, 443, 844, 850, 962, 1271, 1520, 1792, 1888, 2011, 2034, 2286, 2287, 2438, 2868, 2912, 3211, 3279, 3292, 3295, 3364, 3370, 3475, 3498, 3552, 4066, 4075, 4564, 4595, 5034, 5510, 5680, 5964, 6599, 6631, 6719, 6753, 6865, 6944, 7069, 7413, 7414, 7625, 8282, 8589, 8598, 8873, 9174, 9261, 9427, 9660, 10152, 10237, 10331, 10372, 10456, 10471, 10514, 10639, 10772, 10849, 10975, 11039, 11510, 11704, 11836, 11853, 11945, 12059, 12223, 12643, 12812, 13367, 13534, 13811, 13857, 14061, 14153, 14249, 14273, 14426, 14482, 14596, 14817, 14857, 14945, 15079, 15401, 15530, 15938, 16124, 16204, 16372, 16381, 16744, 16824, 16950, 16996, 17112, 17237, ...], 'Lince': [29, 31, 70, 101, 150, 205, 267, 295, 305, 350, 353, 378, 402, 427, 435, 488, 504, 542, 552, 571, 606, 613, 614, 716, 734, 741, 745, 748, 756, 759, 778, 779, 792, 798, 808, 825, 831, 838, 929, 1003, 1024, 1028, 1068, 1092, 1093, 1113, 1122, 1170, 1187, 1222, 1245, 1364, 1411, 1479, 1501, 1515, 1552, 1562, 1587, 1641, 1659, 1700, 1718, 1726, 1757, 1794, 1795, 1812, 1835, 1838, 1845, 1858, 1860, 1901, 1924, 1934, 1941, 1988, 2085, 2117, 2213, 2219, 2242, 2274, 2285, 2355, 2361, 2391, 2410, 2423, 2456, 2468, 2503, 2573, 2575, 2583, 2600, 2642, 2648, 2710, ...], 'San Luis': [18, 67, 138, 180, 214, 227, 283, 291, 311, 385, 475, 527, 540, 642, 704, 836, 856, 931, 953, 1121, 1125, 1135, 1213, 1237, 1293, 1354, 1386, 1465, 1554, 1557, 1561, 1584, 1754, 1796, 1876, 1948, 2040, 2053, 2142, 2147, 2160, 2222, 2243, 2277, 2465, 2466, 2531, 2532, 2548, 2571, 2635, 2750, 2762, 2920, 2937, 2950, 3019, 3033, 3111, 3134, 3150, 3178, 3190, 3201, 3241, 3243, 3274, 3318, 3387, 3389, 3414, 3518, 3530, 3602, 3706, 3782, 3920, 3937, 4046, 4054, 4252, 4337, 4340, 4577, 4664, 4792, 4842, 4860, 4866, 4938, 4970, 4996, 5011, 5024, 5061, 5105, 5126, 5317, 5353, 5369, ...]}

In [10]:
# I can create an iterator to see all the values
for barrio, data in group_barrio:
  print('{} -> {}'.format(barrio, data.Valor.mean()))

Ate -> 8881.576398683592
Barranco -> 1555.2222222222222
Callao -> 4746.6391184573
Comas -> 9709.934942716858
El Agustino -> 89290.31182795699
Lince -> 105049.1566164154
San Luis -> 3752.8425460636518

In [11]:
# I can check just one value:
group_barrio['Valor'].mean().round(2)

Distrito
Ate              8881.58
Barranco         1555.22
Callao           4746.64
Comas            9709.93
El Agustino     89290.31
Lince          105049.16
San Luis         3752.84
Name: Valor, dtype: float64

In [12]:
# I can check more than one value:
group_barrio[['Valor', 'Mantenimiento']].mean().round(2)

                 Valor  Mantenimiento
Distrito
Ate            8881.58        3560.28
Barranco       1555.22         477.05
Callao         4746.64         764.78
Comas          9709.93        2227.20
El Agustino   89290.31        1493.95
Lince        105049.16         910.14
San Luis       3752.84         576.90