<a href="https://colab.research.google.com/github/emersondivB0/PyProjects/blob/main/DataScience/12_Creating_values_ranges.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('alquiler.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [3]:
# lets group by room quantity
# 1 and 2
# 3 and 4
# 5 and 6
# 7 or more
classes = [0,2,4,6,100]

In [4]:
rooms = pd.cut(datos.Cuartos, classes)
rooms

0        (0.0, 2.0]
1        (0.0, 2.0]
2               NaN
3        (0.0, 2.0]
4        (0.0, 2.0]
            ...
32955           NaN
32956    (2.0, 4.0]
32957    (0.0, 2.0]
32958    (0.0, 2.0]
32959           NaN
Name: Cuartos, Length: 32960, dtype: category
Categories (4, interval[int64, right]): [(0, 2] < (2, 4] < (4, 6] < (6, 100]]

In [5]:
pd.value_counts(rooms)

(0, 2]      12419
(2, 4]       9894
(4, 6]        709
(6, 100]       87
Name: Cuartos, dtype: int64

In [6]:
# we can generate our own labels
label = ['1 and 2 rooms', '3 and 4 rooms', '5 and 6 rooms', '7 or more rooms']

In [9]:
rooms = pd.cut(datos.Cuartos, classes, labels = label, include_lowest= True)
rooms

0        1 and 2 rooms
1        1 and 2 rooms
2        1 and 2 rooms
3        1 and 2 rooms
4        1 and 2 rooms
             ...
32955    1 and 2 rooms
32956    3 and 4 rooms
32957    1 and 2 rooms
32958    1 and 2 rooms
32959    1 and 2 rooms
Name: Cuartos, Length: 32960, dtype: category
Categories (4, object): ['1 and 2 rooms' < '3 and 4 rooms' < '5 and 6 rooms' < '7 or more rooms']

In [10]:
pd.value_counts(rooms)

1 and 2 rooms      22270
3 and 4 rooms       9894
5 and 6 rooms        709
7 or more rooms       87
Name: Cuartos, dtype: int64