<a href="https://colab.research.google.com/github/emersondivB0/PyProjects/blob/main/DataScience/7_Treatment_of_missing_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Treatment of missing data

In [ ]:
import pandas as pd

In [ ]:
datos = pd.read_csv('alquiler.csv', sep=';')
datos.head(10)

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,Habitación,San Borja,1,0,0,40,1700.0,500.0,60.0
1,Casa,Lurigancho,2,0,1,100,7000.0,NaN,NaN
2,Local comercial,Ate,0,4,0,150,5200.0,4020.0,1111.0
3,Departamento,Pachacámac,1,0,0,15,800.0,390.0,20.0
4,Departamento,Ate,1,0,0,48,800.0,230.0,NaN
5,Departamento,Barranco,3,1,0,70,1200.0,NaN,NaN
6,Departamento,Comas,2,0,0,50,1300.0,301.0,17.0
7,Casa en condominio,Ate,5,4,5,750,22000.0,NaN,NaN
8,Casa en condominio,El Agustino,2,2,0,65,1000.0,NaN,NaN
9,Local comercial,Pachacámac,0,3,0,695,35000.0,19193.0,3030.0

In [ ]:
# first methos to check null data
datos.isnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
32955,False,False,False,False,False,False,False,False,False
32956,False,False,False,False,False,False,False,False,False
32957,False,False,False,False,False,False,False,False,False
32958,False,False,False,False,False,False,False,False,True
32959,False,False,False,False,False,False,False,False,False

In [ ]:
datos.notnull()

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
0,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,False,False
2,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...
32955,True,True,True,True,True,True,True,True,True
32956,True,True,True,True,True,True,True,True,True
32957,True,True,True,True,True,True,True,True,True
32958,True,True,True,True,True,True,True,True,False
32959,True,True,True,True,True,True,True,True,True

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32960 non-null  object
 1   Distrito       32960 non-null  object
 2   Cuartos        32960 non-null  int64
 3   Vacantes       32960 non-null  int64
 4   Suites         32960 non-null  int64
 5   Area           32960 non-null  int64
 6   Valor          32943 non-null  float64
 7   Mantenimiento  28867 non-null  float64
 8   Impuesto       22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [ ]:
# we can see, the column 'Valor' has null values
datos[datos['Valor'].isnull()]

,Tipo,Distrito,Cuartos,Vacantes,Suites,Area,Valor,Mantenimiento,Impuesto
76,Departamento,Ate,2,1,1,70,NaN,970.0,68.0
2186,Departamento,San Bartolo,2,0,0,75,NaN,878.0,NaN
2456,Casa,Lince,3,4,3,363,NaN,NaN,NaN
2646,Tienda/Salón,Ate,0,2,0,80,NaN,NaN,NaN
2941,Departamento,Chorrillos,2,0,0,95,NaN,1010.0,170.0
2973,Departamento,San Borja,2,0,0,72,NaN,850.0,NaN
6598,Tienda/Salón,La Punta,0,0,0,326,NaN,NaN,1140.0
7302,Casa,Lince,3,2,1,100,NaN,NaN,NaN
12683,Departamento,San Bartolo,2,0,1,75,NaN,878.0,NaN
13229,Departamento,La Punta,3,0,1,135,NaN,910.0,228.0
13525,Departamento,La Perla,3,1,1,105,NaN,880.0,221.0
13579,Local comercial,Chorrillos,0,3,0,200,NaN,10.0,NaN
20948,Local comercial,Callao,0,1,0,24,NaN,500.0,74.0
21822,Tienda en Centro Comercial,Ate,0,2,0,77,NaN,3600.0,1390.0
23056,Local comercial,Chorrillos,0,0,0,900,NaN,10.0,NaN
24805,Local comercial,Chorrillos,0,0,0,500,NaN,10.0,NaN
29166,Local comercial,Chorrillos,0,1,0,50,NaN,10.0,NaN

In [ ]:
# we have to delete those null values rows
A = datos.shape[0]
datos.dropna(subset = ['Valor'], inplace= True)
# with inplace= True, datos change to the new values
B = datos.shape[0]
A-B

17

In [ ]:
datos[datos['Valor'].isnull()]

Empty DataFrame
Columns: [Tipo, Distrito, Cuartos, Vacantes, Suites, Area, Valor, Mantenimiento, Impuesto]
Index: []

Sometimes we have to delete some of the nulls, not all

In [ ]:
datos[datos['Mantenimiento'].isnull()].shape[0]

4089

In [ ]:
selection = (datos['Mantenimiento'].isnull()) & (datos['Tipo'] == 'Departamento')

In [ ]:
C = datos.shape[0]
# using ~ you can negate the condition
datos = datos[~selection]
D = datos.shape[0]
C-D

745

In [ ]:
# fillna can put a value into NaN
datos = datos.fillna({'Mantenimiento':0, 'Impuesto':0})

In [ ]:
datos[datos['Mantenimiento'].isnull()].shape[0]

0

In [ ]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32198 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Tipo           32198 non-null  object
 1   Distrito       32198 non-null  object
 2   Cuartos        32198 non-null  int64
 3   Vacantes       32198 non-null  int64
 4   Suites         32198 non-null  int64
 5   Area           32198 non-null  int64
 6   Valor          32198 non-null  float64
 7   Mantenimiento  32198 non-null  float64
 8   Impuesto       32198 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.5+ MB

Now we can export

In [ ]:
datos.to_csv('alquiler_residencial.cvs', sep=';', index= False)